.column
{
    display: inline;
    padding: 10px;
}
img:hover{
    border-radius: 140px;
}

img
{
    width: 50%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}
#footer{
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#camera{
    width:500px;
    height:400px;
    padding:1px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(42, 42, 42);
}

body{
    background-color: lightgray;
}
